@page
@model App.EndPoint.Razor.ACH.Areas.Customer.Pages.Req.CreateModel
@{
	ViewData["Title"] = "مدیریت پیشنهادها";
	Layout = "_LayoutCustomer";
}
<div class="dashboard-list-wraps bg-white rounded mb-4">
	<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
		<div class="dashboard-list-wraps-flx">
			<h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file ms-2 theme-cl fs-sm"></i>اطلاعات آگهی</h4>
		</div>
	</div>

	<div class="dashboard-list-wraps-body py-3 px-3">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="form-group">
					<label class="mb-1">عنوان</label>
					<input type="text" class="form-control rounded" placeholder="رستوران ماهان" />
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="form-group">
					<label class="mb-1">دسته بندی</label>
					<select class="form-control">
						<option>رستوران</option>
						<option>مرکز آموزشی</option>
						<option>سالن عقد</option>
						<option>سالن زیبایی</option>
						<option>کافی شاپ</option>
						<option>هتل</option>
						<option>نظافت منزل</option>
					</select>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="form-group">
					<label class="mb-1">کلمات کلیدی</label>
					<input type="text" class="form-control rounded" placeholder="کلمات کلیدی را با کاما وارد کنید" />
				</div>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="form-group">
					<label class="mb-1">توضیحات</label>
					<textarea class="form-control rounded ht-150" placeholder="درباره کسب و کار..."></textarea>
				</div>
			</div>
		</div>
	</div>
</div>