@page
@model App.EndPoint.Razor.ACH.Areas.Customer.Pages.Req.RequestModel
@{
	ViewData["Title"] = "مدیریت پیشنهادها";
	Layout = "_LayoutCustomer";
}


<!-- Single Listing Item -->
<div class="dsd-single-listing-wraps">
	<div class="dsd-single-lst-thumb"><img src="assets/img/listing/l-2.png" class="img-fluid" alt="" /></div>
	<div class="dsd-single-lst-caption">
		<div class="dsd-single-lst-title"><h5>سالن عقد تشریفاتی الینا</h5></div>
		<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>اوماها، انگلستان</span>
		<div class="ico-content">
			<div class="Goodup-ft-first">
				<div class="Goodup-rating">
					<div class="Goodup-rates">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="Goodup-price-range">
					<span class="ft-medium">34 نظر ثبت شده</span>
				</div>
			</div>
		</div>
		<div class="dsd-single-lst-footer">
			<a href="javascript:void(0);" class="btn btn-edit mr-1"><i class="fas fa-edit ms-1"></i>ویرایش</a>
			<a href="javascript:void(0);" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش</a>
			<a href="javascript:void(0);" class="btn btn-delete"><i class="fas fa-trash ms-1"></i>حذف</a>
		</div>
	</div>
</div>

<!-- Single Listing Item -->
<div class="dsd-single-listing-wraps">
	<div class="dsd-single-lst-thumb"><img src="assets/img/listing/l-2.png" class="img-fluid" alt="" /></div>
	<div class="dsd-single-lst-caption">
		<div class="dsd-single-lst-title"><h5>سالن ورزشی زعفرانیه</h5></div>
		<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>اوماها، انگلستان</span>
		<div class="ico-content">
			<div class="Goodup-ft-first">
				<div class="Goodup-rating">
					<div class="Goodup-rates">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="Goodup-price-range">
					<span class="ft-medium">34 نظر ثبت شده</span>
				</div>
			</div>
		</div>
		<div class="dsd-single-lst-footer">
			<a href="javascript:void(0);" class="btn btn-edit mr-1"><i class="fas fa-edit ms-1"></i>ویرایش</a>
			<a href="javascript:void(0);" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش</a>
			<a href="javascript:void(0);" class="btn btn-delete"><i class="fas fa-trash ms-1"></i>حذف</a>
		</div>
	</div>
</div>

<!-- Single Listing Item -->
<div class="dsd-single-listing-wraps">
	<div class="dsd-single-lst-thumb"><img src="assets/img/listing/l-2.png" class="img-fluid" alt="" /></div>
	<div class="dsd-single-lst-caption">
		<div class="dsd-single-lst-title"><h5>هتل لاله پارک تبریز</h5></div>
		<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>اوماها، انگلستان</span>
		<div class="ico-content">
			<div class="Goodup-ft-first">
				<div class="Goodup-rating">
					<div class="Goodup-rates">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="Goodup-price-range">
					<span class="ft-medium">34 نظر ثبت شده</span>
				</div>
			</div>
		</div>
		<div class="dsd-single-lst-footer">
			<a href="javascript:void(0);" class="btn btn-edit mr-1"><i class="fas fa-edit ms-1"></i>ویرایش</a>
			<a href="javascript:void(0);" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش</a>
			<a href="javascript:void(0);" class="btn btn-delete"><i class="fas fa-trash ms-1"></i>حذف</a>
		</div>
	</div>
</div>

<!-- Single Listing Item -->
<div class="dsd-single-listing-wraps">
	<div class="dsd-single-lst-thumb"><img src="assets/img/listing/l-2.png" class="img-fluid" alt="" /></div>
	<div class="dsd-single-lst-caption">
		<div class="dsd-single-lst-title"><h5>باشگاه بدنسازی باران</h5></div>
		<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>اوماها، انگلستان</span>
		<div class="ico-content">
			<div class="Goodup-ft-first">
				<div class="Goodup-rating">
					<div class="Goodup-rates">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="Goodup-price-range">
					<span class="ft-medium">34 نظر ثبت شده</span>
				</div>
			</div>
		</div>
		<div class="dsd-single-lst-footer">
			<a href="javascript:void(0);" class="btn btn-edit mr-1"><i class="fas fa-edit ms-1"></i>ویرایش</a>
			<a href="javascript:void(0);" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش</a>
			<a href="javascript:void(0);" class="btn btn-delete"><i class="fas fa-trash ms-1"></i>حذف</a>
		</div>
	</div>
</div>

<!-- Single Listing Item -->
<div class="dsd-single-listing-wraps">
	<div class="dsd-single-lst-thumb"><img src="assets/img/listing/l-2.png" class="img-fluid" alt="" /></div>
	<div class="dsd-single-lst-caption">
		<div class="dsd-single-lst-title"><h5>سالن زیبایی خانه عروس</h5></div>
		<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>اوماها، انگلستان</span>
		<div class="ico-content">
			<div class="Goodup-ft-first">
				<div class="Goodup-rating">
					<div class="Goodup-rates">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="Goodup-price-range">
					<span class="ft-medium">34 نظر ثبت شده</span>
				</div>
			</div>
		</div>
		<div class="dsd-single-lst-footer">
			<a href="javascript:void(0);" class="btn btn-edit mr-1"><i class="fas fa-edit ms-1"></i>ویرایش</a>
			<a href="javascript:void(0);" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش</a>
			<a href="javascript:void(0);" class="btn btn-delete"><i class="fas fa-trash ms-1"></i>حذف</a>
		</div>
	</div>
</div>

<!-- Single Listing Item -->
<div class="dsd-single-listing-wraps">
	<div class="dsd-single-lst-thumb"><img src="assets/img/listing/l-2.png" class="img-fluid" alt="" /></div>
	<div class="dsd-single-lst-caption">
		<div class="dsd-single-lst-title"><h5>کلوپ آنجلیکا استانبول</h5></div>
		<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>اوماها، انگلستان</span>
		<div class="ico-content">
			<div class="Goodup-ft-first">
				<div class="Goodup-rating">
					<div class="Goodup-rates">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="Goodup-price-range">
					<span class="ft-medium">34 نظر ثبت شده</span>
				</div>
			</div>
		</div>
		<div class="dsd-single-lst-footer">
			<a href="javascript:void(0);" class="btn btn-edit mr-1"><i class="fas fa-edit ms-1"></i>ویرایش</a>
			<a href="javascript:void(0);" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش</a>
			<a href="javascript:void(0);" class="btn btn-delete"><i class="fas fa-trash ms-1"></i>حذف</a>
		</div>
	</div>
</div>

<!-- Single Listing Item -->
<div class="dsd-single-listing-wraps">
	<div class="dsd-single-lst-thumb"><img src="assets/img/listing/l-8.png" class="img-fluid" alt="" /></div>
	<div class="dsd-single-lst-caption">
		<div class="dsd-single-lst-title"><h5>مرکز خرید ایران مال</h5></div>
		<span class="agd-location"><i class="lni lni-map-marker ms-1"></i>اوماها، انگلستان</span>
		<div class="ico-content">
			<div class="Goodup-ft-first">
				<div class="Goodup-rating">
					<div class="Goodup-rates">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="Goodup-price-range">
					<span class="ft-medium">34 نظر ثبت شده</span>
				</div>
			</div>
		</div>
		<div class="dsd-single-lst-footer">
			<a href="javascript:void(0);" class="btn btn-edit mr-1"><i class="fas fa-edit ms-1"></i>ویرایش</a>
			<a href="javascript:void(0);" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش</a>
			<a href="javascript:void(0);" class="btn btn-delete"><i class="fas fa-trash ms-1"></i>حذف</a>
		</div>
	</div>
</div>

				
