@page
@model App.EndPoint.Razor.ACH.Admin.Pages.Users.CreateModel
@{
    ViewData["Title"] = "آچ آچ > مدیریت کاربران > ایجاد کاربران";
}

<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    ایجاد کاربر جدید
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <form enctype="multipart/form-data" id="simple-form" role="form" method="post">
                <div class="form-body">

                    <!-- FirstName Field -->
                    <div class="form-group mb-4">
                        <label for="UserName" class="fw-semibold">نام</label>
                        <div class="input-group">
                            <input asp-for="User.FirstName" class="form-control" type="text" placeholder="نام " id="FirstName" required="نام  اجباری است">
                        </div>
                    </div>

                    <!-- LastName Field -->
                    <div class="form-group mb-4">
                        <label for="UserName" class="fw-semibold"> نام خانوادگی</label>
                        <div class="input-group">
                            <input asp-for="User.LastName" class="form-control" type="text" placeholder="نام " id="LastName" required="نام خانوادگی اجباری است">
                        </div>
                    </div>


                    <!-- UserName Field -->
                    <div class="form-group mb-4">
                        <label for="UserName" class="fw-semibold">ایمیل</label>
                        <div class="input-group">
                            <input asp-for="User.Email" class="form-control" type="text" placeholder="نام کاربری" id="UserName" required="نام کاربری اجباری است">
                        </div>
                    </div>

                    <!-- Password Field -->
                    <div class="form-group mb-4">
                        <label for="Password" class="fw-semibold">کلمه عبور</label>
                        <div class="input-group">
                            <input asp-for="User.Password" class="form-control" type="password" placeholder="کلمه عبور" id="Password" required="رمز عبور اجباری است">
                        </div>
                    </div>

                   

                   @*  <div class="sign-controls form-group">
                        <div class="custom-control custom-checkbox">
                            <input id="IsVisitor" asp-for="@Model.User.Role" value="Expert" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="IsVisitor">متخصص هستید؟</label>
                        </div>
                    </div> *@

                    <div class="sign-controls form-group">
                        <label for="Role" class="form-label fw-semibold">نقش</label>
                        <select id="Role" asp-for="@Model.User.Role" class="custom-select">
                            <option value="Customer">مشتری</option>
                            <option value="Expert">متخصص</option>
                        </select>
                        <span asp-validation-for="@Model.User.Role" class="text-danger"></span>
                    </div>




                    <!-- Form Actions -->
                    <div class="form-actions d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-check"></i>
                            ذخیره
                        </button>
                        <a asp-page="Index" class="btn btn-warning">
                            بازگشت
                        </a>
                    </div>
                </div><!-- /.form-body -->
            </form>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->

<script>
    // This function will hide/show the city selection field based on whether 'Admin' role is selected
    function toggleCityField() {
        var isAdminChecked = document.getElementById('admin').checked;
        var cityField = document.getElementById('citySelection');

        if (isAdminChecked) {
            cityField.style.display = 'none'; // Hide city field if Admin role is selected
        } else {
            cityField.style.display = 'block'; // Show city field if Admin role is not selected
        }
    }
</script>
