@page
@model App.EndPoint.Razor.ACH.Admin.Pages.Users.CreateAdminModel
@{
}
@{
    ViewData["Title"] = "آچار > مدیریت کاربران > ایجاد مدیر";
}

<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    ایجاد مدیر جدید
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <form enctype="multipart/form-data" id="simple-form" role="form" method="post">
                <div class="form-body">

                    <!-- FirstName Field -->
                    <div class="form-group mb-4">
                        <label for="UserName" class="fw-semibold">نام</label>
                        <div class="input-group">
                            <input asp-for="User.FirstName" class="form-control" type="text" placeholder="نام " id="FirstName" required="نام  اجباری است">
                        </div>
                    </div>

                    <!-- LastName Field -->
                    <div class="form-group mb-4">
                        <label for="UserName" class="fw-semibold"> نام خانوادگی</label>
                        <div class="input-group">
                            <input asp-for="User.LastName" class="form-control" type="text" placeholder="نام " id="LastName" required="نام خانوادگی اجباری است">
                        </div>
                    </div>
                    <!-- UserName Field -->
                    <div class="form-group mb-4">
                        <label for="UserName" class="fw-semibold">نام کاربری</label>
                        <div class="input-group">
                            <input asp-for="User.Email" class="form-control" type="text" placeholder="نام کاربری" id="Email" required="ایمیل اجباری است">
                        </div>
                    </div>

                    <!-- Password Field -->
                    <div class="form-group mb-4">
                        <label for="Password" class="fw-semibold">کلمه عبور</label>
                        <div class="input-group">
                            <input asp-for="User.Password" class="form-control" type="password" placeholder="کلمه عبور" id="Password" required="رمز عبور اجباری است">
                        </div>
                    </div>
                    <!-- Form Actions -->
                    <div class="form-actions d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-check"></i>
                            ذخیره
                        </button>
                        <a asp-page="Index" class="btn btn-warning">
                            بازگشت
                        </a>
                    </div>
                </div><!-- /.form-body -->
            </form>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->
