<div id="sidebar">
    <div class="side-menu-container">
        <ul class="metismenu" id="side-menu">
            <li class="open active conditional-bg">
                <a href="#" class="dropdown-toggle">
                    <i class="fas fa-wrench"></i>
                    <span>آچار</span>
                </a>
                <ul>
                    <li>
                        <a asp-page="/Users/Index" class="">
                            <i class="fas fa-users"></i>
                            <span>کاربران</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Category/ListCategory" class="">
                            <i class="fas fa-list"></i>
                            <span>دسته بندی ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/SubCategory/ListSubCategory" class="">
                            <i class="fas fa-list-alt"></i>
                            <span>زیر دسته بندی ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/HomeService/ListHomeService" class="">
                            <i class="fas fa-concierge-bell"></i>
                            <span>خدمات</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Service/Request" class="">
                            <i class="fas fa-clipboard-list"></i>
                            <span>درخواست های مشتری</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Service/Bid" class="">
                            <i class="fas fa-gavel"></i>
                            <span>پیشنهاد های کارشناس</span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Service/Comment" class="">
                            <i class="fas fa-comments"></i>
                            <span>کامنت ها</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul><!-- /#side-menu -->
    </div><!-- /.side-menu-container -->
</div><!-- /#sidebar -->
