@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="fa">

<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Goodup -  HTML</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="~/image/x-icon" href="~/assets/img/favicon.png">

	<!-- Custom CSS -->
	<link href="~/assets/css/styles.css" rel="stylesheet">

	<!-- Link to Bootstrap Datepicker CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
</head>

<body dir="rtl">

	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader"></div>

	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper">
		<!-- Link to Jalali Datepicker CSS -->

		<!-- ============================================================== -->
		<!-- Top header  -->
		<!-- ============================================================== -->
		<div class="goodup-dashboard-wrap gray px-4 py-5">
			<div class="container-fluid">
				<div class="row">
					<!-- سایدبار -->
					<div class="col-md-3">
						<div class="goodup-dashboard-nav sticky-top">
							<div class="goodup-dashboard-inner">
								<ul data-submenu-title="منو">
									<li>
										<a asp-page="/Req/Request">
											<i class="lni lni-files ms-2"></i> درخواست های من
										</a>
									</li>
									<li><a asp-page="/Req/Create">><i class="lni lni-add-files ms-2"></i>افزودن درخواست</a></li>								
									<li><a asp-page="/Wallet/Balance"><i class="lni lni-mastercard ms-2"></i>کیف پول</a></li>
									<li><a asp-page="/Com/Comment"><i class="lni lni-briefcase ms-2"></i>ثبت نظر</a></li>
								</ul>
								<ul data-submenu-title="حساب کاربری">
									<li><a asp-page="/Prof/Profile"><i class="lni lni-user ms-2"></i>تنظیمات</a></li>
									<li><a asp-page="/Prof/Pass"><i class="lni lni-lock-alt ms-2"></i>تغییر رمز عبور</a></li>
									<li><a asp-area="Account" asp-page="/Logout"><i class="lni lni-power-switch ms-2"></i>خروج</a></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- محتوای اصلی -->
					<div class="col-md-9">
						<main role="main" class="pb-4">
							@RenderBody()
						</main>
					</div>
				</div>
			</div>
		</div>

		<!-- ============================ Footer Start ================================== -->
	
		<!-- ============================ Footer End ================================== -->


		<a id="tops-button" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->

	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/popper.min.js"></script>
	<script src="~/assets/js/bootstrap.min.js"></script>
	<script src="~/assets/js/slick.js"></script>
	<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="~/assets/js/dropzone.js"></script>
	<script src="~/assets/js/counterup.js"></script>
	<script src="~/assets/js/lightbox.js"></script>
	<script src="~/assets/js/moment.min.js"></script>
	<script src="~/assets/js/daterangepicker.js"></script>
	<script src="~/assets/js/lightbox.js"></script>
	<script src="~/assets/js/jQuery.style.switcher.js"></script>
	<script src="~/assets/js/custom.js"></script>




	<!-- Link to jQuery (Bootstrap Datepicker needs jQuery) -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- Link to Bootstrap Datepicker JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

	<!-- Activate the Datepicker -->
	<script>
		$(document).ready(function() {
			// Activate Bootstrap Datepicker for the "DoneTime" field
			$('#doneTime').datepicker({
				format: 'yyyy-mm-dd',  // Set format to yyyy-mm-dd (Gregorian)
				autoclose: true,        // Close the datepicker after selecting a date
				todayHighlight: true,   // Highlight today's date
				clearBtn: true,         // Add a button to clear the date
				startDate: 'today',     // Disable past dates, allow only today and future dates
			});
		});
	</script>

	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>