@page
@model App.EndPoint.Razor.ACH.Areas.Customer.Pages.Wallet.BalanceModel
@{
	ViewData["Title"] = "مدیریت پیشنهادها";
	Layout = "_LayoutCustomer";
}
<div class="row">
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
		<div class="dsd-boxed-widget py-5 px-4 bg-danger rounded">
			<h2 class="ft-medium mb-1 text-light"><span class="count ms-1">12500</span>تومان</h2>
			<p class="p-0 m-0 text-light fs-md">موجودی قابل برداشت</p>
			<i class="fas fa-credit-card"></i>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
		<div class="dsd-boxed-widget py-5 px-4 bg-success rounded">
			<h2 class="ft-medium mb-1 text-light"><span class="count ms-1">18000</span>تومان</h2>
			<p class="p-0 m-0 text-light fs-md">درآمد کل</p>
			<i class="fas fa-wallet"></i>
		</div>
	</div>
